<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#">Angular Widgets Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/card-1" routerLinkActive="active">Card one</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/card-2" routerLinkActive="active">Card two</a>
            </li> -->

        </ul>
    </div>
</nav>
<router-outlet></router-outlet>