<app-header></app-header>
<div class="content">

    <h3>Image dominant cards</h3>
    <hr />
    <div class="row">

        <div class="col-12 col-md-2 col-lg-2">
            <app-card-four bgImagePath="assets/images/7.jpeg" heading="Heading"
                description="Here goes two line description" icon="heart"></app-card-four>
        </div>

        <div class="col-12 col-md-2 col-lg-2">
            <app-card-ten heading="Heading" description="Here goes the two line description"
                bgImgPath="assets/images/16.jpeg" circularImgPath="assets/images/bank3.jpg" icon="heart">
            </app-card-ten>
        </div>

        <div class="col-12 col-md-3 col-lg-3">
            <app-visualize-card imgPath="assets/images/055.jpg" title="Lorem ipsum dolor sit amet"></app-visualize-card>
        </div>

        <div class="col-12 col-md-2 col-lg-2">
            <app-card-eleven heading="Heading" description="Here goes the two line description for this card"
                imgPath="assets/images/bank5.jpg" textInCircle="50% off"></app-card-eleven>
        </div>

        <div class="col-12 col-md-2 col-lg-2">
            <app-card-five bgImagePath="assets/images/healthcare2.jpg" heading="Heading"></app-card-five>
        </div>

    </div>

    <div class="separator"></div>
    <h3>Text dominant cards</h3>
    <hr />

    <div class="row">

        <div class="col-12 col-md-2 col-lg-2">
            <app-card-one header="Heading"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                footer="Click to know more"></app-card-one>
        </div>

        <div class="col-12 col-md-3 col-lg-3">
            <app-typify-card icon="diamond" title="Etiam consequat"
                description="Sed tempus feugiat adipiscing nisl cursus aliquam dolore."></app-typify-card>
        </div>

        <div class="col-12 col-md-2 col-lg-2">
            <app-card-fourteen heading="What are you looking for?" icon="phone" [iconArr]="iconArr"
                [titleArr]="titleArr">
            </app-card-fourteen>
        </div>

        <div class="col-12 col-md-3 col-lg-3">
            <app-testimonial-card comment="Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi
    integer non faucibus." name="Jane Doe" designation="CEO - ABC Inc." imgPath="assets/images/testimonial.jpg">
            </app-testimonial-card>
        </div>

        <div class="col-12 col-md-2 col-lg-2">
            <app-card-three heading="Greetings," description="One line description or text" [iconArr]="iconArr"
                [textArr]="titleArr"></app-card-three>
        </div>

    </div>

    <div class="separator"></div>
    <h3>Cards with image and text</h3>
    <hr />

    <div class="row">

        <div class="col-12 col-md-2 col-lg-2">
            <app-card-two notification="Notification" heading="Heading"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                imgPath="assets/images/1.png"></app-card-two>
        </div>

        <div class="col-12 col-md-2 col-lg-2">
            <app-card-seven heading="Heading" description="Here goes the two line description"
                imgPath="assets/images/bank5.jpg" textInCircle="50% Discount"></app-card-seven>
        </div>

        <div class="col-12 col-md-2 col-lg-2">
            <app-card-six heading="Heading"
                description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                imgPath="assets/images/bank4.jpg"></app-card-six>
        </div>

        <div class="col-12 col-md-2 col-lg-2">
            <app-card-eight imgPath="assets/images/bank5.jpg" heading="Heading"
                description="Here goes the one line description" subHeading1="Here goes the first sub description"
                subHeading2="Here goes the second sub description" textInCircle="50% off"></app-card-eight>
        </div>

        <div class="col-12 col-md-2 col-lg-2">
            <app-card-nine heading="Heading" description="Here goes the two line description for this card"
                btnText="Button" bgImgPath="assets/images/22.jpeg">
            </app-card-nine>
        </div>

        <div class="col-12 col-md-2 col-lg-2">
            <app-profile-card thumbnail="assets/images/ff4.jpeg" name="Mary Jean" title="Graphics Designer"
                subTitle="(983)818 2182" description="mary@jean.com" btnText="Action">
            </app-profile-card>
        </div>

    </div>

    <div class="separator"></div>
    <h3>Basic info cards</h3>
    <hr />

    <div class="row">

        <div class="col-12 col-md-3 col-lg-3">
            <app-card-twelve heading="Heading" tag="Tag"></app-card-twelve>
        </div>

        <div class="col-12 col-md-3 col-lg-3">
            <app-details-card title="Sample title" subTitle="Sample text" imgPath="assets/images/ff4.jpeg"
                [headingArr]="iconArr" [subHeadingArr]="titleArr"></app-details-card>
        </div>

        <div class="col-12 col-md-3 col-lg-3">
            <app-sample-card3 title="Consequat"
                description="Placerat ornare. Pellentesque od sed euismod in, pharetra ltricies edarcu cas consequat."
                imgPath="assets/images/pic022.jpg"></app-sample-card3>
        </div>

        <div class="col-12 col-md-3 col-lg-3">
            <app-card-thirteen heading="Heading" bodyKey="Detail" bodyValue="digit" footerKey="Title 1"
                footerValue="0.0 %">
            </app-card-thirteen>
        </div>

    </div>

    <div class="separator"></div>
    <h3>Long cards</h3>
    <hr />

    <div class="row">

        <div class=" col-12 col-md-4 col-lg-4">
            <div>
                <app-hielo-card imgPath="assets/images/pic02.jpg" title="Lorem ipsum dolor"
                    subTitle="maecenas sapien feugiat ex purus" description="Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit
        amet
        tortor
        velit.
        Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat
        lacus
        placerat
        malesuada." btnText="Learn More" btnLink="#"></app-hielo-card>
            </div>
            <div class="separator"></div>
            <div>
                <app-theory-card title="Praesent placerat magna" description="Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu
            erat.
            Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum." btnText="More"
                    imgPath="assets/images/theory.jpg"></app-theory-card>
            </div>
        </div>

        <div class="col-12 col-md-3 col-lg-3">
            <div>
                <app-main-card title="Sample title" subTitle="Sample subtitle"
                    description="Sample description goes here" bgImgPath="assets/images/home1.jpg" icon="play-circle-o"
                    btnText="Button text"></app-main-card>
            </div>
            <div class="separator"></div>
            <div>
                <app-urban-card text="Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin
                    aliquet." btnText="Learn More" imgPath="assets/images/urban.jpg"></app-urban-card>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
            <div>
                <app-epilogue-card title="Lorem massa nulla" description="Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat
        est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare."
                    btnText="More" imgPath="assets/images/epilogue.jpg"></app-epilogue-card>
            </div>
            <div class="separator"></div>
            <div>
                <app-four-rect-card img1Path="assets/images/ff4.jpeg" img2Path="assets/images/14.jpeg"
                    img3Path="assets/images/ff6.jpeg" img4Path="assets/images/7.jpeg" textOnHover1="I'm first image"
                    textOnHover2="I'm second image" textOnHover3="I'm third image" textOnHover4="I'm fourth image">
                </app-four-rect-card>
            </div>
        </div>

    </div>

    <div class="separator"></div>
    <h3>Dark theme cards</h3>
    <hr />

    <div class="row">

        <div class="col-12 col-md-3 col-lg-3">
            <app-sample-card2 title="Nascetur nunc varius commodo"
                description="Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan."
                btnText="Watch" imgPath="assets/images/pic011.jpg"></app-sample-card2>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
            <app-caminar-card title="Vestibulum Convallis" subTitle="vehicula urna sed justo bibendum"
                img1Path="assets/images/caminar1.jpg" img2Path="assets/images/caminar2.jpg"
                img3Path="assets/images/caminar3.jpg" img4Path="assets/images/caminar4.jpg"></app-caminar-card>
        </div>

        <div class="col-12 col-md-3 col-lg-3">
            <app-transitive-card title="Tempus Feugiat" description="Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet,
        lectus
        arcu" btnText="Learn More" bgImagePath="../../assets/images/transitive.jpg"></app-transitive-card>
        </div>

    </div>

    <div class="separator"></div>
    <h3>Misc.</h3>
    <hr />

    <div class="row">

        <div class="col-12 col-md-4 col-lg-4">
            <div>
                <app-prism-card title="Ipsum pharetra tempus"
                    description="Lorem ipsum nisl sed cursus magna et amet veroeros." btnText="Details"
                    imgPath="assets/images/prism.jpg"></app-prism-card>
            </div>
            <div class="separator"></div>
            <div>
                <app-spatial-card title="Lorem ipsum" subTitle="Lorem ipsum dolor sit" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse tenetur accusantium porro
        omnis,
        unde mollitia totam sit nesciunt consectetur." imgPath="assets/images/spatial.jpg"></app-spatial-card>
            </div>
        </div>

        <div class="col-12 col-md-2 col-lg-2">
            <app-simple-card title="Magna" subTitle="Cipdum dolor" imgPath="assets/images/pic04.jpg"></app-simple-card>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
            <app-video-player videoPath="assets/videos/1.mp4" poster="assets/images/psv.jpg"></app-video-player>
        </div>

    </div>

    <div class="separator"></div>
    <!-- <app-carousel-one></app-carousel-one> -->

</div>

<!-- <div class="col-12 col-md-3 col-lg-3">
            <app-image-card imgPath="assets/images/pic01.jpg" textOnHover="Hi, I'm an image card."></app-image-card>
        </div> -->