<div class="card card-14">
    <div class="header">
        <div class="heading" [title]="heading">
            {{heading}}
        </div>
        <div class="circle-icon">
            <span>
                <i class="fa fa-{{icon}}" aria-hidden="true"> </i>
            </span>
        </div>
    </div>
    <div class="card14-body">
        <div *ngFor="let iconEl of iconArr; let i=index">
            <div class="card sub-card-{{i + 1}}" *ngIf="i < 4">
                <div class="col sub-card-{{ i + 1 }}-body">
                    <i class="fa fa-{{iconEl}} icon" aria-hidden="true"> </i>
                    <div class="text" [title]="titleArr[i]">{{titleArr[i]}}</div>
                </div>
            </div>
        </div>
    </div>
</div>