@import "../../utilities/styles";

.card-5 {
  height: 14em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.75em;
  font-family: $font;
  .bg-img {
    border-radius: 0.75em;
    min-width: 100%;
    object-fit: cover;
    min-height: 100%;
  }
  .card5-body {
    .heading {
      position: absolute;
      max-width: 50%;
      bottom: 2em;
      background: rgba(0, 0, 0, 0.4);
      padding: 5px 15px 5px 10px;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
    }
  }
}
