<div class="card card-3">
    <div class="upper-block">
        <div class="header" [title]="heading">{{heading}}</div>
        <div class="description" [title]="description">{{description}}</div>
    </div>
    <div class="lower-block">
        <div *ngFor="let iconEl of iconArr; let i = index">
            <div class="block" *ngIf="i < 4">
                <div class="icon">
                    <i class="fa fa-{{iconEl}}" aria-hidden="true"> </i>
                    <span class="vertical-line"></span>
                    <span class="text" [title]="textArr[i]">
                        {{textArr[i]}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>