<div class="card card-4">
    <img src="{{bgImagePath}}" class="bg-img" />
    <div class="card4-body">
        <div class="heading" [title]="heading">
            {{heading}}
        </div>
        <div class="description" [title]="description">
            {{description}}
        </div>
    </div>
    <div class="icon-stack">
        <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <i class="fa fa-{{icon}} fa-stack-1x icon"></i>
        </span>
    </div>
</div>