<div class="card card-13">
    <div class="header" [title]="heading">
        {{heading}}
    </div>
    <div class="card13-body">
        <div class="details-table">
            <div class="table-row">
                <div class="table-cell-1" [title]="bodyKey">
                    {{bodyKey}}
                </div>
                <div class="table-cell-2">
                    <div class="btn btn-primary btn-cell" [title]="bodyValue">
                        {{bodyValue}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="line" />
    <div class="footer">
        <div class="table-row">
            <div class="table-cell-1" [title]="footerKey">
                {{footerKey}}
            </div>
            <div class="table-cell-2" [title]="footerValue">
                {{footerValue}}
            </div>
        </div>
    </div>
</div>