<div class="card main-card">
    <img src="{{bgImgPath}}" class="bg-img" />
    <div class="card-panel">
        <div class="card-content">
            <div class="title" [title]="title">
                {{title}}
            </div>
            <hr class="line" />
            <div class="sub-title" [title]="subTitle">
                {{subTitle}}
            </div>
            <div class="description" [title]="description">
                {{description}}
            </div>
        </div>
    </div>
    <div class="button-block">
        <button class="btn card-btn">
            <i class="fa fa-{{icon}} video-icon"></i>
            <span class="btn-text" [title]="btnText">{{btnText}}</span>
        </button>
    </div>
</div>