<div class="wrapper style2">
    <header>
        <h2 [title]="title">{{title}}</h2>
        <p [title]="subTitle">{{subTitle}}</p>
    </header>
    <div class="content">
        <div class="gallery">
            <div>
                <div class="image fit flush">
                    <a href="#"><img src="{{img1Path}}" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit flush">
                    <a href="#"><img src="{{img2Path}}" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit flush">
                    <a href="#"><img src="{{img3Path}}" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit flush">
                    <a href="#"><img src="{{img4Path}}" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</div>