<div class="testimonials">
    <section>
        <div class="content">
            <blockquote>
                <p [title]="comment">{{comment}}</p>
            </blockquote>
            <div class="author">
                <div class="image">
                    <img src="{{imgPath}}" alt="" [title]="name" />
                </div>
                <p class="credit">- <strong [title]="name">{{name}}</strong> <span [title]="designation">
                        {{designation}}</span></p>
            </div>
        </div>
    </section>
</div>