<section class="wrapper style3" style="background-image: url({{bgImagePath}});">
    <div class="inner">
        <div id="flexgrid">
            <div class="content">
                <header>
                    <h3 [title]="title">{{title}}</h3>
                </header>
                <p [title]="description">{{description}}</p>
                <ul class="actions">
                    <li><a href="#" class="button alt" [title]="btnText">{{btnText}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>