@import "../../utilities/styles";

.card-11 {
  height: 16em;
  border-radius: 0.75em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: $font;
  .img-container {
    height: 11.5em;
    .card11-img {
      width: 100%;
      height: 100%;
      border-radius: 0.75em 0.75em 0 0;
      object-fit: cover;
    }
  }
  .card11-body {
    height: 4.5em;
    padding: 5px 10px 5px 10px;
    .heading {
      max-width: 84%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-size: 11px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: grey;
    }
  }
  .circle {
    height: 2.5em;
    width: 2.5em;
    z-index: 1000;
    position: absolute;
    right: 0.5em;
    bottom: 3.25em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    .text {
      text-align: center;
      font-size: 10px;
      padding: 4.5px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
