<div class="card card-8">
    <div class="img-container">
        <img src="{{imgPath}}" class="top-img" />
    </div>
    <div class="card inner-card">
        <div class="heading" [title]="heading">
            {{heading}}
        </div>
        <div class="description" [title]="description">
            {{description}}
        </div>
    </div>
    <div class="lower-text-block">
        <div class="sub-desc-1" [title]="subHeading1">
            {{subHeading1}}
        </div>
        <div class="sub-desc-2" [title]="subHeading2">
            {{subHeading2}}
        </div>
    </div>
    <div class="circle">
        <div class="text" [title]="textInCircle">
            {{textInCircle}}
        </div>
    </div>
</div>