@import "../../utilities/styles";

.card-10 {
  height: 16em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  font-family: $font;
  .bg-img {
    min-width: 100%;
    object-fit: cover;
    min-height: 100%;
    border-radius: 0.5em;
  }
  .upper-block {
    position: absolute;
    padding: 10px;
    color: white;
    max-width: 100%;
    .heading {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 85%;
    }
    .description {
      font-size: 12px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .circular-block {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    display: inline-block;
    width: 8.125em;
    border: 5px solid white;
    height: 8.125em;
    overflow: hidden;
    border-radius: 50%;
    .circle-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .icon {
    position: absolute;
    right: 0.7em;
    top: 0.5em;
    color: white;
  }
}
