@import "../../utilities/styles";

.card-9 {
  height: 14em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: $font;
  .bg-img {
    min-width: 100%;
    object-fit: cover;
    min-height: 100%;
  }
  .upper-card {
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding: 10px;
    border-radius: 0;
    height: 50%;
    .heading {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .lower-card {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $primary;
    color: white;
    height: 50%;
    width: 50%;
    border-radius: 0;
    padding: 10px;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    .description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .lower-card-btn {
      font-size: 12px;
      margin-top: 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: white;
      outline: auto;
    }
  }
}
