<div class="card details-card">
    <div class="upper-block">
        <img src="{{imgPath}}" class="circle-img" />
        <div class="upper-block-content">
            <div class="title" [title]="title">
                {{title}}
            </div>
            <div class="text" [title]="subTitle">
                {{subTitle}}
            </div>
        </div>
    </div>
    <div class="lower-block">
        <div class="table-row">
            <div class="table-cell">
                <div class="heading" [title]="headingArr[0]">
                    {{headingArr[0]}}
                </div>
                <div class="sub-heading" [title]="subHeadingArr[0]">
                    {{subHeadingArr[0]}}
                </div>
            </div>
            <div class="table-cell">
                <div class="heading" [title]="headingArr[1]">
                    {{headingArr[1]}}
                </div>
                <div class="sub-heading" [title]="subHeadingArr[1]">
                    {{subHeadingArr[1]}}
                </div>
            </div>
        </div>
        <hr class="line" />
        <div class="table-row">
            <div class="table-cell">
                <div class="heading" [title]="headingArr[2]">
                    {{headingArr[2]}}
                </div>
                <div class="sub-heading" [title]="subHeadingArr[2]">
                    {{subHeadingArr[2]}}
                </div>
            </div>
            <div class="table-cell">
                <div class="heading" [title]="headingArr[3]">
                    {{headingArr[3]}}
                </div>
                <div class="sub-heading" [title]="subHeadingArr[3]">
                    {{subHeadingArr[3]}}
                </div>
            </div>
        </div>
    </div>
</div>