@import "../../utilities/styles";

.box {
  border-radius: 4px;
  border: solid 1px #dee1e3;
  overflow: hidden;
  background-color: white;
  font-family: $font;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  .image {
    border: 0;
    display: inline-block;
    position: relative;
    img {
      display: block;
    }
  }
  .image.fit {
    margin: 0;
    img {
      width: 100%;
    }
  }
  .content {
    padding: 1.5em;
    h3 {
      // color: #25a2c3;
      color: $primary;
      font-weight: 700;
      line-height: 1.5;
      margin: 0 0 0.7em 0;
      font-size: 1.25em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    p {
      color: #767d85;
      font-size: 0.95em;
      font-weight: 100;
      margin: 0 0 1em 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
    }
  }
  div,
  h3,
  p,
  img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
}
