.four-rect-card {
  height: 26em;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  .sub-card-1,
  .sub-card-2,
  .sub-card-3,
  .sub-card-4 {
    width: 50%;
    position: absolute;
    max-width: 50%;
    max-height: 50%;
    border-radius: 0;
    border: none;
  }
  .sub-card-1 {
    top: 0;
    left: 0;
  }
  .sub-card-2 {
    top: 0;
    right: 0;
  }
  .sub-card-3 {
    bottom: 0;
    left: 0;
  }
  .sub-card-4 {
    bottom: 0;
    right: 0;
  }
  .sub-card-1 > img,
  .sub-card-2 > img,
  .sub-card-3 > img,
  .sub-card-4 > img {
    object-fit: cover;
    max-height: 13em;
  }
}
