<div class="card card-12">
    <div class="header" [title]="heading">
        {{heading}}
    </div>
    <div class="card12-body">
        <div class="details-table">
            <div class="table-row">
                <div class="table-cell-1">
                    cell 1-1
                </div>
                <div class="table-cell-2">
                    cell 1-2
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell-1">
                    cell 2-1
                </div>
                <div class="table-cell-2">
                    cell 2-2
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell-1">
                    cell 3-1
                </div>
                <div class="table-cell-2">
                    cell 3-2
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell-1">
                    cell 4-1
                </div>
                <div class="table-cell-2">
                    cell 4-2
                </div>
            </div>
        </div>
    </div>
    <div class="tag">
        {{tag}}
    </div>
</div>