@import "../../utilities/styles";

.card-7 {
  height: 14em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: $font;
  .heading {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .bottom-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $primary;
    width: 50%;
    height: 50%;
    .description {
      color: white;
      width: 100%;
      font-size: 12px;
      padding: 4px 7px 4px 7px;
      position: absolute;
      bottom: 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-align: center;
    }
  }
  .card7-img {
    border-radius: 45% 0 0 45%;
    height: 50%;
    z-index: 100;
    bottom: 25%;
    top: 25%;
    right: 0;
    position: absolute;
    padding-left: 1.5em;
    width: 100%;
    object-fit: cover;
  }
  .circle {
    height: 2.5em;
    width: 2.5em;
    z-index: 1000;
    position: absolute;
    top: 5.5em;
    left: 0.5em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    .text {
      text-align: center;
      font-size: 10px;
      padding: 5.5px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
