<div class="card card-10">
    <img src="{{bgImgPath}}" class="bg-img" />
    <div class="upper-block">
        <div class="heading" [title]="heading">
            {{heading}}
        </div>
        <div class="description" [title]="description">
            {{description}}
        </div>
    </div>
    <div class="circular-block">
        <img src="{{circularImgPath}}" class="circle-img" />
    </div>
    <div class="icon">
        <i class="fa fa-{{icon}}" aria-hidden="true"> </i>
    </div>
</div>