@import "../../utilities/styles";

.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #9a9a9a;
  font-family: $font;
  article,
  footer,
  header {
    display: block;
  }
  article {
    max-width: 100%;
  }
  .image {
    border-radius: 0;
    border: 0;
    display: inline-block;
    position: relative;
    img {
      border-radius: 0;
      display: block;
    }
  }
  .image.fit {
    display: block;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .content {
    padding: 2em;
    h3 {
      color: #5385c1;
      font-weight: 300;
      line-height: 1.5;
      margin: 0 0 1em 0;
      font-size: 1.25em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      margin: 0 0 2em 0;
      font-size: 0.95em;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
    }
    a {
      color: #5385c1;
      text-decoration: underline;
    }
    a:hover {
      text-decoration: none;
    }
    .button {
      -webkit-appearance: none;
      appearance: none;
      -webkit-transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      background-color: #5a5a5a;
      border-radius: 0;
      border: 0;
      color: #ffffff !important;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      height: 2.85em;
      line-height: 2.95em;
      padding: 0 1.5em;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
    }
    .button:hover {
      background-color: #676767;
    }

    .button:active {
      background-color: #4d4d4d;
    }

    .button.special {
      background-color: #5385c1;
      color: #ffffff !important;
    }

    .button.special:hover {
      background-color: #6692c8;
    }

    .button.special:active {
      background-color: #4278b8;
    }

    .button:disabled {
      background-color: #9a9a9a !important;
      box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
      color: #fff !important;
      cursor: default;
      opacity: 0.25;
    }
  }
  div,
  h3,
  footer,
  header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
}
