<div class="hielo-card">
    <div class="box">
        <div class="image fit">
            <img src="{{imgPath}}" alt="" />
        </div>
        <div class="content">
            <header class="align-center">
                <p><span class="subtitle" [title]="subTitle">{{subTitle}}</span></p>
                <h2><span class="title" [title]="title">{{title}}</span></h2>
            </header>
            <p class="description" [title]="description">{{description}}</p>
            <footer class="align-center">
                <a href="{{btnLink}}" class="button alt" [title]="btnText">{{btnText}}</a>
            </footer>
        </div>
    </div>
</div>