@import "../../utilities/styles";

.hielo-card {
  background-color: #f2f2f2;
  color: #a6a6a6;
  text-align: center;
  font-family: $font;
  .box {
    background: #fff;
    border-color: rgba(144, 144, 144, 0.25);
    .image.fit {
      margin: 0;
      border-radius: 0;
      border: 0;
      position: relative;
      display: block;
      width: 100%;
      img {
        border-radius: 0;
        display: block;
        width: 100%;
      }
    }
    .content {
      padding: 3rem;
      header {
        h2 {
          margin-bottom: 2rem;
          color: #000;
          .title {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
        p {
          text-transform: uppercase;
          font-size: 0.7rem;
          font-weight: 300;
          margin: 0 0 0.25rem 0;
          padding: 0 0 0.75rem 0;
          letter-spacing: 0.25rem;
          position: relative;
          color: #bbb;
          .subtitle {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
        p:after {
          content: "";
          position: absolute;
          margin: auto;
          right: 0;
          bottom: 0;
          left: 0;
          width: 50%;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.125);
        }
        h2 + p {
          font-size: 1.25rem;
          margin-top: -1rem;
        }
      }
      .description {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
      footer {
        .button {
          -webkit-appearance: none;
          appearance: none;
          -webkit-transition: background-color 0.2s ease-in-out,
            color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
          border-radius: 2px;
          border: 0;
          cursor: pointer;
          display: inline-block;
          font-weight: 300;
          height: 2.85rem;
          line-height: 2.95rem;
          padding: 0 1.5rem;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          white-space: nowrap;
        }
        .button:hover {
          background-color: white;
        }

        .button:active {
          background-color: #e5e5e5;
        }

        .button.alt {
          background-color: transparent;
          box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
          color: #555 !important;
        }

        .button.alt:hover {
          background-color: rgba(144, 144, 144, 0.075);
        }

        .button.alt:active {
          background-color: rgba(144, 144, 144, 0.2);
        }
      }
    }
  }
  .box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
  }
}
